#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

export DH_GOLANG_EXCLUDES := iphlpapi
export GO111MODULE=on
export GOFLAGS=-mod=vendor -buildvcs=false
export GOPROXY=off  # отключить сетевые запросы
export USE_BROTLI=1
export USE_LIBSODIUM=1
export USE_LZO=1

%:
	dh $@

override_dh_auto_build:
	make link_external_deps
	make pg_build
	make mysql_build
	make mongo_build
	make redis_build
	make sqlserver_build
	make fdb_build
	make gp_build	

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true