#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

export DH_GOLANG_EXCLUDES := iphlpapi
export GO111MODULE=on
export GOFLAGS=-mod=vendor
export GOPROXY=off  # отключить сетевые запросы

%:
	dh $@

override_dh_auto_build:
	# USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make deps
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make pg_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make mysql_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make mongo_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make redis_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make sqlserver_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make fdb_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make gp_build	

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true