#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

export DH_GOLANG_EXCLUDES := iphlpapi
export GO111MODULE=on
export GOFLAGS=-mod=vendor
export GOPROXY=https://proxy.golang.org,direct

%:
	dh $@
	# dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	pwd
	ls -l	
	echo $$GOPROXY
	
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make deps
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make pg_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make mysql_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make mongo_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make redis_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make sqlserver_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make fdb_build
	USE_BROTLI=1 USE_LIBSODIUM=1 USE_LZO=1 make gp_build	

override_dh_auto_install:
	dh_auto_install
	# install -d $(CURDIR)/debian/wal-g/usr/bin
	# install -m 0755 main/pg/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g
	# install -m 0755 main/mysql/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-mysql
	# install -m 0755 main/mongo/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-mongo
	# install -m 0755 main/redis/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-redis
	# install -m 0755 main/sqlserver/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-sqlserver
	# install -m 0755 main/fdb/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-fdb
	# install -m 0755 main/gp/wal-g $(CURDIR)/debian/wal-g/usr/bin/wal-g-gp	
	

override_dh_install:
	dh_install

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true	