#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

export DH_GOLANG_EXCLUDES := iphlpapi
export GOMODCACHE := $(CURDIR)/.gomodcache
export PATH := $(GOROOT)/bin:$(PATH)
export GOFLAGS := -mod=vendor
export USE_BROTLI := 1
export USE_LIBSODIUM := 1
export USE_LZO := 1

%:
	dh $@

override_dh_auto_build:
	@echo "Go version is:"
	@go version
	make deps
	make pg_build
	make mysql_build
	make mongo_build
	make redis_build
	make sqlserver_build
	make fdb_build
	make gp_build 

override_dh_auto_install:
	install -d debian/wal-g/usr/bin
	install -m 0755 main/pg/wal-g debian/wal-g/usr/bin/wal-g
	install -m 0755 main/mysql/wal-g debian/wal-g/usr/bin/wal-g-mysql
	install -m 0755 main/mongo/wal-g debian/wal-g/usr/bin/wal-g-mongo
	install -m 0755 main/redis/wal-g debian/wal-g/usr/bin/wal-g-redis
	install -m 0755 main/sqlserver/wal-g debian/wal-g/usr/bin/wal-g-sqlserver
	install -m 0755 main/fdb/wal-g debian/wal-g/usr/bin/wal-g-fdb
	install -m 0755 main/gp/wal-g debian/wal-g/usr/bin/wal-g-gp

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true
